.rightside{
    text-align: left;
}

.product-body{
  padding: 50px;
  background-image: linear-gradient(to right,white,white,blue, blue);
  border-radius: 40px;
}
.Icons{
  font-size: 20px;
}
.Add-button{
  position: relative;
  font-size: 20px;
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(3, 252, 169);
}

.Cart-button{
  position: relative;
  font-size: 20px;
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(250, 170, 72);
}

.Add-button:hover{
  transition: 0.3s;
  transform: scale(1.1);
  background-color: chartreuse;
}
.Cart-button:hover{
  transition: 0.3s;
  transform: scale(1.1);
  background-color: rgb(255, 98, 0);
}